@import url('./Alegreya Sans.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  /* CSS HEX */
  --gold-metallic: #d7ae2c;
  --vanilla: #e7d49a;
  --night: #0c090d;
  --cool-gray: #7e7f9a;
  --dark-cyan: #4b8f8c;
  --fondo: #f5f5f5;
 }

 
* {
  font-family: "Alegreya Sans","Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
        height: 100vh
        }

body {
  /* font-size: 16px; */
  line-height: 1.5;
  color: var(--night);
  background-color: var(--fondo);
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0 3em 1.5em; */
  /* height: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  /* padding-top: 20px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: var(--night);
  height: 20vh;
}
.header-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
}
.header-flex-item {
  margin-left: 2rem;
}
.header-flex-item h1 {
  color: var(--gold-metallic);
  margin-bottom: 0;
}

.header-flex-item .header-companion {
    color: var(--vanilla);
}

main {
  padding: 1.5rem 2rem;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  height: 55vh;
}

.main-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.main-flex-item {
  flex: 0 1 auto;
  margin: 5px;
}

footer {
  height: auto;
  width: 100%;
  /* height: 9vh; */
  /* padding-top: 20px; */
  background-color: var(--gold-metallic);
  color: var(--night);
  align-self: flex-end;
  
}
.footer-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center
}

.footer-flex-item {
  flex: 0 0 auto;
  margin: 5px;
}

.footer-flex-item:nth-child(1) {
  margin-left: 2rem;
}

.footer-flex-item:nth-child(2) {
  margin-right: 1rem;
}

.paginador-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.paginador-flex-item {
  margin-left: 2rem;
}

.paginador-flex-item h2 {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  color: var(--gold-metallic);
}

.paginador-companion {

font-family: 'Bebas Neue';
  font-size: 3rem;
  color: var(--vanilla);
}

.bg-nav {
  background-color: var(--gold-metallic);
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu {
  background-color: var(--gold-metallic);
}

.dropdown-item:hover {
  color: var(--cool-gray);
  background-color: var(--vanilla);
}

p.cuatrocolumns {
  
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count:    4; /* Firefox */
	column-count:         4;
  	-webkit-column-gap:   20px; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      20px; /* Firefox */
	column-gap:           20px;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
	text-align: justify; /* Optional */
}

p.trescolumns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count:    3; /* Firefox */
	column-count:         3;
  	-webkit-column-gap:   20px; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      20px; /* Firefox */
	column-gap:           20px;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
	text-align: justify; /* Optional */
}

p.doscolumns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count:    2; /* Firefox */
	column-count:         2;
  	-webkit-column-gap:   20px; /* Chrome, Safari, Opera */ 
	-moz-column-gap:      20px; /* Firefox */
	column-gap:           20px;
	column-rule-color: #ccc; /* Optional */
	column-rule-style:solid; /* Optional */
	column-rule-width: 1px; /* Optional */
	text-align: justify; /* Optional */
}

/* Pantallas grandes */

@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

/*  Tabletas  */

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/*  Celulares  */

@media (max-width: 450px) {
  html {
    font-size: 10px;
  }
}
